
.vs/TPA/v16/.suo
TPA/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
TPA/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TPA/obj/x86/Debug/TPA.csproj.GenerateResource.cache
*.cache
*.cache
.vs/TPA/v16/.suo
TPA/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TPA/obj/x86/Debug/TPA.csprojAssemblyReference.cache
